{
  "tag_name": "imagod-v0.6.0",
  "name": "imagod-v0.6.0",
  "draft": false,
  "prerelease": false,
  "assets": [
    {
      "name": "imagod-riscv64gc-unknown-linux-musl",
      "uploader": {
        "name": "ignored nested name"
      },
      "browser_download_url": "__DOWNLOAD_BASE__/imagod-riscv64gc-unknown-linux-musl"
    },
    {
      "name": "imagod-riscv64gc-unknown-linux-musl.sha256",
      "uploader": {
        "name": "ignored nested checksum name"
      },
      "browser_download_url": "__DOWNLOAD_BASE__/imagod-riscv64gc-unknown-linux-musl.sha256"
    },
    {
      "name": "imagod-riscv64gc-unknown-linux-musl+wasi-nn-cvitek",
      "uploader": {
        "name": "ignored nested feature name"
      },
      "browser_download_url": "__DOWNLOAD_BASE__/imagod-riscv64gc-unknown-linux-musl%2Bwasi-nn-cvitek"
    },
    {
      "name": "imagod-riscv64gc-unknown-linux-musl+wasi-nn-cvitek.sha256",
      "uploader": {
        "name": "ignored nested feature checksum name"
      },
      "browser_download_url": "__DOWNLOAD_BASE__/imagod-riscv64gc-unknown-linux-musl%2Bwasi-nn-cvitek.sha256"
    }
  ]
}
